@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: 'VT323', monospace;
  font-size: 100%;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.disclaimer-sec{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tokenomics-main{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokeball{
  color: #d63526 ;
  margin-right: 12px;
  margin-left: 12px;
}
.token-link{
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 4rem;
  height: 100%;
 border-radius: 5rem;
}
.token-link:hover {
  transition: all 0.2s ease-out;
}
.roadmap-main{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}