@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Fuzzy+Bubbles&family=Lacquer&family=Sriracha&display=swap');



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 100%;
}

.disclaimer-sec{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tokenomics-main{
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.pokeball{
  color: #d63526 ;
  margin-right: 12px;
  margin-left: 12px;
}
.token-link{
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 4rem;
  height: 100%;
 border-radius: 5rem;
}
.token-link:hover {
  transition: all 0.2s ease-out;
}
.roadmap-main{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.cta-button{
  background-color: #abf4ff;
}
.phases-title{
font-size: 2.25rem;
}
.phases-para{
  font-size: 1.25rem;
}
.roadmap-iconn{
  background-color:#abf4ff;
}
@media screen and (min-width: 900px){
  .phases-title{
    font-size: 2.5rem;
    }
    .phases-para{
      font-size: 1.75rem;
    }
}